Repository hvignolo87/superside-challenge: changes, and which pre-commit hooks are due for each by the changed paths.
All: debug-statements, check-yaml, black, mypy, ruff, interrogate

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: debug-statements
        name: 🐛 debug
        entry: poetry run debug-statement-hook
        language: system
        types: [python]
        stages: [commit]

      - id: trailing-whitespace
        name: ✂️ trailing-whitespace
        entry: poetry run trailing-whitespace-fixer
        language: system
        types_or: [dotenv, gitignore, makefile, markdown, plain-text, python, sh, terraform, text, toml, yaml]
        stages: [commit]

      - id: end-of-file-fixer
        name: ⛔️ end-of-file-fixer
        entry: poetry run end-of-file-fixer
        exclude: ^source_data/
        language: system
        types_or: [dotenv, gitignore, makefile, markdown, plain-text, python, sh, terraform, text, toml, yaml]
        stages: [commit]

      - id: detect-aws-credentials
        name: ☁️​ detect-aws-credentials
        entry: poetry run detect-aws-credentials
        language: system
        types_or: [dotenv, gitignore, makefile, markdown, plain-text, python, sh, terraform, text, toml, yaml]
        stages: [commit]

      - id: check-yaml
        name: 🕵️‍♂️​ check-yaml
        entry: poetry run check-yaml
        language: system
        types: [yaml]
        stages: [commit]

      - id: black
        name: ♟️ black
        entry: poetry run black
        language: system
        types: [python]
        stages: [commit]

      - id: mypy
        name: 🆎 mypy
        entry: poetry run mypy
        args: [--config-file, mypy.ini]
        language: system
        types: [python]
        stages: [commit]

      - id: ruff
        name: 🌟 ruff
        entry: poetry run ruff check
        language: system
        types: [python]
        stages: [commit]

      - id: interrogate
        name: 🔎 interrogate
        entry: poetry run interrogate
        language: system
        types: [python]
        stages: [commit]

feat: add sqlfluff pre-commit hooks
  .pre-commit-config.yaml
Due: check-yaml

fix: adjust the port of the local warehouse in the dbt dotenv file
  .env.dbt.local.example
Due: none

feat(dbt): add sqlfluff as linter and formatter
  .sqlfluffignore
  dbt/superside/.sqlfluff
  poetry.lock
  pyproject.toml
Due: none

chore(dbt): lint and format the dbt project
  dbt/superside/models/intermediate/int_engagement_metrics.sql
  dbt/superside/models/marts/project_engagement.sql
Due: none

feat(cicd): add a workflow for code quality check
  .github/workflows/pull-request.workflow.yaml
Due: check-yaml

fix(cicd): remove unuseful dependency
  .github/workflows/pull-request.workflow.yaml
Due: check-yaml

fix(cicd): pin postgres version
  .github/workflows/pull-request.workflow.yaml
Due: check-yaml

feat: add markdown linter rules
  .markdownlint.json
Due: none

fix(cicd): modify runner version
  .github/workflows/pull-request.workflow.yaml
Due: check-yaml

fix(cicd): remove --install-hooks option
  .github/workflows/pull-request.workflow.yaml
  noxfile.py
Due: debug-statements, check-yaml, black, mypy, ruff, interrogate

fix(cicd): restore --install-hooks option, and add missing system dependency and steps
  .github/workflows/pull-request.workflow.yaml
  noxfile.py
Due: debug-statements, check-yaml, black, mypy, ruff, interrogate

fix(cicd): add -y option in apt-get command
  .github/workflows/pull-request.workflow.yaml
Due: check-yaml

fix(cicd): add path to GITHUB_PATH variable
  .github/workflows/pull-request.workflow.yaml
Due: check-yaml

fix(cicd): execute git init on beforehand
  .github/workflows/pull-request.workflow.yaml
Due: check-yaml

fix(cicd): merge steps
  .github/workflows/pull-request.workflow.yaml
Due: check-yaml

fix(cicd): add git add command
  .github/workflows/pull-request.workflow.yaml
Due: check-yaml

fix(cicd): add git config command
  .github/workflows/pull-request.workflow.yaml
Due: check-yaml

fix(cicd): change hook stage to manual
  .pre-commit-config.yaml
Due: check-yaml

perf(cicd): remove unused service
  .github/workflows/pull-request.workflow.yaml
Due: check-yaml

feat: add an architecture diagram
  .pre-commit-config.yaml
  Dockerfile
  diagrams/airbyte.png
  diagrams/diagram.py
  diagrams/kubernetes.png
  images/cluster.png
  poetry.lock
  pyproject.toml
Due: debug-statements, check-yaml, black, mypy, ruff, interrogate

feat: add a basic readme
  README.md
Due: none

feat: improve readme
  README.md
  images/airbyte_ui.png
  images/workspace.png
Due: none

feat: improve readme
  README.md
Due: none

feat: center images in the readme
  .markdownlint.json
  README.md
Due: none

feat: improve setup explanations
  README.md
Due: none

feat: add make rule to port-forward
  Makefile
Due: none

fix(infra): remove default workspace_id value
  infra/.terraform.lock.hcl
  infra/variables.tf
Due: none

fix: typo
  README.md
Due: none

feat: improve setup explanations and add a development section
  README.md
  images/make.png
Due: none

chore: remove airflow make rules
  Makefile
Due: none

feat: add data exploration explanations
  .markdownlint.json
  README.md
  images/uk.png
Due: none

fix: rephrasing and typos in the readme
  README.md
Due: none

fix(infra): remove tfstate files when running cluster-delete rule
  Makefile
Due: none

chore(infra): increase airbyte deploy timeout to 20 min
  infra/airbyte.tf
Due: none

feat(dags): change schedule to every 6 hours
  dags/transformations.py
Due: debug-statements, black, mypy, ruff, interrogate

feat: add useful options to the dbt make rules
  Makefile
Due: none

feat(dbt): add dbt_expectations package
  dbt/superside/dbt_project.yml
  dbt/superside/packages.yml
Due: check-yaml

feat(dbt): add tests in all the layers
  dbt/superside/models/intermediate/_intermediate__models.yml
  dbt/superside/models/marts/_marts__models.yml
  dbt/superside/models/staging/_clients__models.yml
Due: check-yaml
